<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
{%csrf_token%}
    <br>
    <input name="select" type="radio" value='A' checked>A
    <input name="select" type="radio" value='B'>B
    <input name="select" type="radio" value='C'>C
    <br>
    <input name="select1" type="radio" value='A' checked>A
    <input name="select1" type="radio" value='B'>B
    <input name="select1" type="radio" value='C'>C<<.id>>
    <br>
    <input name="select2" type="radio" value='A' checked>A
    <input name="select2" type="radio" value='B'>B
    <input name="select2" type="radio" value='C'>C
    <br>
<input name="submit" type="submit" value="提交" >
</form>
</body>
</html>